<h2 class="page-heading"><span>ADMINISTRATION</span></h2>

<ul class="insert-list">
  <li><%= link_to 'Insert a new product', new_product_path %></li>
  <li><%= link_to 'Insert a new retailer', new_retailer_path %></li>
  <li><%= link_to 'Insert a new designer', new_designer_path %></li>
</ul>