
<!-- image-block -->
<div class="image-block" >



  <!-- Rooms -->
  <h2 class="image-block-heading"><span>Rooms</span></h2>
  <div class="one-third-thumbs clearfix" >

    <figure>
      <figcaption>
        <span>Living Rooms</span>
      </figcaption>

      <a href="room-living.html"  class="thumb"><img src="images/home-living.jpg" alt="Living Room" /></a>

    </figure>

    <figure>
      <figcaption>
        <span>Kitchens</span>
      </figcaption>

      <a href="room-kitchen.html"  class="thumb"><img src="images/home-kitchen.jpg" alt="Living Room" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <span>Bedrooms</span>
      </figcaption>

      <a href="room-bedroom.html"  class="thumb"><img src="images/home-bedroom.jpg" alt="Alt text" /></a>
    </figure>

    <%= link_to 'All rooms  &#8594;'.html_safe, rooms_path, :class => 'more-link right' %>

  </div>
  <!-- END Rooms -->



  <!-- Products -->
  <h2 class="image-block-heading"><span>Products</span></h2>
  <div class="one-fourth-thumbs clearfix">

    <figure>
      <figcaption>
        <span>Chairs</span>
      </figcaption>

      <a href="products-chairs.html"  class="thumb"><img src="images/home-chair.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <span>Tables</span>
      </figcaption>

      <a href="products-tables.html"  class="thumb"><img src="images/home-table.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <span>Sofas</span>
      </figcaption>

      <a href="products-sofas.html"  class="thumb"><img src="images/home-sofa.jpg" alt="Alt text" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <span>Lamps</span>
      </figcaption>

      <a href="products-lamps.html"  class="thumb"><img src="images/home-lamp.jpg" alt="Alt text" /></a>
    </figure>
    <a href="products-types.html" class="more-link right">Products  &#8594;</a>

  </div>


</div>
<!-- ENDS image-block -->
	    