
<!-- image-block -->
<div class="image-block" >

  <!-- Rooms -->
  <h2 class="image-block-heading"><span>Rooms</span></h2>
  <div class="one-third-thumbs clearfix" >

    <figure>
      <figcaption>
        <strong>Living Rooms</strong>
      </figcaption>

      <a href="room-living.html"  class="thumb"><img src="images/home-living.jpg" alt="Living Room" /></a>

    </figure>

    <figure>
      <figcaption>
        <strong>Kitchens</strong>
        <a href="room-kitchen.html" class="opener"></a>
      </figcaption>

      <a href="room-kitchen.html"  class="thumb"><img src="images/home-kitchen.jpg" alt="Living Room" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <strong>Bedrooms</strong>
        <a href="room-bedroom.html" class="opener"></a>
      </figcaption>

      <a href="room-bedroom.html"  class="thumb"><img src="images/home-bedroom.jpg" alt="Alt text" /></a>
    </figure>

    <a href="rooms.html" class="more-link right">All rooms  &#8594;</a>
  </div>
  <!-- END Rooms -->

  <!-- Products -->
  <h2 class="image-block-heading"><span>Products</span></h2>
  <div class="one-fourth-thumbs clearfix">

    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="products-chairs.html" class="opener"></a>
      </figcaption>

      <a href="products-chairs.html"  class="thumb"><img src="images/home-chair.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Tables</strong>
        <a href="products-tables.html" class="opener"></a>
      </figcaption>

      <a href="products-tables.html"  class="thumb"><img src="images/home-table.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Sofas</strong>
        <a href="products-sofas.html" class="opener"></a>
      </figcaption>

      <a href="products-sofas.html"  class="thumb"><img src="images/home-sofa.jpg" alt="Alt text" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <strong>Lamps</strong>
        <a href="products-lamps.html" class="opener"></a>
      </figcaption>

      <a href="products-lamps.html"  class="thumb"><img src="images/home-lamp.jpg" alt="Alt text" /></a>
    </figure>
    <a href="products-types.html" class="more-link right">Products  &#8594;</a>

  </div>


</div>
<!-- ENDS image-block -->
	    