<h2 class="page-heading"><span>OUR DESIGNERS</span></h2>

<!-- thumbs -->
<div class="big-thumbs clearfix" >

  <% @designers_with_images.each do |designer| %>
  <figure>
    <figcaption>
      <span> <%= designer.first.title %> </span>
      <%= link_to '', designer_path(designer.first), :class => 'opener' %>
    </figcaption>
    <%= link_to image_tag("#{designer.second.image_url(:big_thumb)}"), designer_path(designer.first), :class => 'thumb' %>
  </figure>
  <% end %>

</div>
<!-- ends big-thumbs-->