<h2 class="page-heading"><span>OUR DESIGNERS</span></h2>

<!-- thumbs -->
<div class="big-thumbs clearfix" >

  <% @designers.each do |designer| %>
  <figure>
    <figcaption>
      <strong> <%= designer.title %> </strong>
      <%= link_to designer_path(designer), :class => 'opener' %>
    </figcaption>
    <%= link_to image_tag("/designers/#{designer.image_url})"), :class => 'thumb' %>
  </figure>
  <% end %>

</div>
<!-- ends big-thumbs-->