<h2 class="page-heading"><span>OUR DESIGNERS</span></h2>

<!-- thumbs -->
<div class="big-thumbs clearfix" >
  <figure>
    <figcaption>
      <strong>Bror Boije</strong>
      <a href="project.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-1.jpg" alt="Alt text" /></a>
  </figure>

  <figure>
    <figcaption>
      <strong>C-H Spak</strong>
      <a href="project.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-2.jpg" alt="Alt text" /></a>
  </figure>

  <figure>
    <figcaption>
      <strong>Christine Schwarzer</strong>
      <a href="project.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-3.jpg" alt="Alt text" /></a>
  </figure>

  <figure>
    <figcaption>
      <strong>Claesson Koivisto Rune</strong>
      <a href="project.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-4.jpg" alt="Alt text" /></a>
  </figure>

  <figure>
    <figcaption>
      <strong>Corinna Warm</strong>
      <a href="project.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-5.jpg" alt="Alt text" /></a>
  </figure>

  <figure>
    <figcaption>
      <strong>Isaac Chen</strong>
      <a href="project.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-6.jpg" alt="Alt text" /></a>
  </figure>

  <figure>
    <figcaption>
      <strong>Katrin Olina</strong>
      <a href="project.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-7.jpg" alt="Alt text" /></a>
  </figure>

  <figure>
    <figcaption>
      <strong>Marina Bautier</strong>
      <a href="project.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-8.jpg" alt="Alt text" /></a>
  </figure>

  <figure>
    <figcaption>
      <strong>Arik Levy</strong>
      <a href="designer.html" class="opener"></a>
    </figcaption>

    <a href="project.html"  class="thumb"><img src="images/all-designers-9.jpg" alt="Alt text" /></a>
  </figure>
</div>
<!-- ends big-thumbs-->