<h2 class="page-heading"><span><%= @designer.title %></span></h2>

<img src="<%= @designer.image.image_url(:big_thumb) %>" style="float: left; margin: 5px 30px;" />

<h3>Bio</h3>

<%= @designer.biography.html_safe %>

<div class="clearfix"></div>

<div class="image-block">
  <h2 class="image-block-heading" style="margin-top: 70px;"><span>Products</span></h2>
  <div class="one-fourth-thumbs clearfix">

    <figure>
      <figcaption>
        <strong>Metrocubo</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/designer-1.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Prodotto</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/designer-2.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Altro Prodotto</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/designer-3.jpg" alt="Alt text" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <strong>Ancora prodotto</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/designer-4.jpg" alt="Alt text" /></a>
    </figure>

  </div>

</div>
<!-- ENDS home-block -->