<h2 class="page-heading"><span><%= @room.name %></span></h2>

<div class="image-block">
  <div class="one-fourth-thumbs clearfix">

    <% @products_with_images.each do |product| %>

    <figure>
      <figcaption>
        <span><%= product.first.title %></span>
      </figcaption>

      <%= link_to (image_tag product.second.image_url(:small_thumb)), product_path(product.first, :gt => @room.name )  %>
    </figure>

    <% end %>

  </div>

</div>
<!-- ENDS image-block -->