// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * RETAILERS
 */

ul.retailers {
  margin: 5px 15px;
}

ul.retailers > li {
  margin: 15px 15px 30px 15px;
}

ul.retailers > li h3 {
  border-bottom: solid 1px #999;
  padding: 5px;
}

ul.retailers > li ul {
  margin: 10px;
}