<!-- BY ROOM, 'CAUSE THERE'S ONLY THIS ONE BUT IT SHOULD BE MORE DIFFERENTIATED -->

<h2 class="page-heading"><span>LIVING ROOM</span></h2>

<div class="image-block">
  <div class="one-fourth-thumbs clearfix">

    <figure>
      <figcaption>
        <strong>Metrocubo</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-1.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-2.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-3.jpg" alt="Alt text" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-4.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-5.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-6.jpg" alt="Alt text" /></a>
    </figure>
    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-7.jpg" alt="Alt text" /></a>
    </figure>
    <figure class="last">
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-8.jpg" alt="Alt text" /></a>
    </figure>
    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-3.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-1.jpg" alt="Alt text" /></a>
    </figure>
    <figure>
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-4.jpg" alt="Alt text" /></a>
    </figure>
    <figure class="last">
      <figcaption>
        <strong>Chairs</strong>
        <a href="single.html" class="opener"></a>
      </figcaption>

      <a href="single.html"  class="thumb"><img src="images/room-living-2.jpg" alt="Alt text" /></a>
    </figure>
  </div>

</div>
<!-- ENDS image-block -->