<!-- BY ROOM, 'CAUSE THERE'S ONLY THIS ONE BUT IT SHOULD BE MORE DIFFERENTIATED -->

<h2 class="page-heading"><span>OUR PRODUCTS</span></h2>

<div class="image-block">
  <div class="one-fourth-thumbs clearfix">

  <% @products_with_images.each do |product_image| %>
    <figure>
      <figcaption>
        <strong><%= product_image[0].title %></strong>
        <%= link_to "", product_path(product_image[0]), :class => "opener" %>
      </figcaption>
      <%= link_to image_tag(product_image[1].image_url(:small_thumb)), product_path(product_image[0]), :class => "thumb" %>
    </figure>
  <% end %>

  </div>
</div>
<!-- ENDS image-block -->