<h2 class="page-heading"><span>Retailers for this product</span></h2>

<div class="clearfix"></div>
<ul class="retailers">
  <li>
    <h3><a href="retailer.html">East London</a></h3>
      <p>Golden House<br />
        30 Great Pulteney Street<br />
        London W1F 9NN<br />
        +46 8-660 93 01</p>
  </li>
  <li>
    <h3><a href="retailer.html">Fratelli Rocca</a></h3>
      <p>via Vittorio Veneto 18/4<br />
        22060 Carugo (Co)<br />
        T +39 335 7408450<br />
        F +39 031 761087<br />
        E. fratelli.rocca@gmail.com</p>
  </li>
  <li>
    <h3><a href="retailer.html">Cugini Nitto</a></h3>
      <p>via Diaz 4<br />
        20130 Milano (Mi)<br />
        T +39 332 218379<br />
        F +39 02 761087<br />
        E. cugini.nitto@gmail.com</p>
  </li>
</ul>
<a href="product-sofa.html" class="more-link ">&#8592; return to product</a>