<h2 class="page-heading"><span>Metrocubo</span></h2>




<!-- project content -->
<div id="product-content" class="clearfix">



  <!-- slider -->
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="images/product-sofa1.jpg" alt="alt text" />
      </li>
      <li>
        <img src="images/product-sofa2.jpg" alt="alt text" />
      </li>
      <li>
        <img src="images/product-sofa3.jpg" alt="alt text" />
      </li>
    </ul>
  </div>
  <!-- ENDS slider -->



  <!-- product description -->
  <div class="product-description">

    <h3>Description</h3>
    <p>A sofa can go beyond being merely a piece of furniture and become a room of its own within a room – this was the idea that prompted Arik Levy to design Metrocubo.</p> <p>With its unusually soft seat and backrest upholstery, as well as the high, flexible side and back panels, Metrocubo creates the frame for such a comfy, safe and secure world, a place for relaxed withdrawal from the hustle and bustle of life: Two people can stretch out and sit opposite each other, leaning leisurely back against the side walls, and if required the sofa also provide sufficient space for a third person. Metrocubo combines the contrasting qualities of a comfortable secluded relaxation area with an open invitation to enter and sit down.</p>


    <h3>Technical Info</h3>
    <p><strong>Sizes</strong>: all sofa styles are available in 2, 2½, 3, 3½ and 4 seater options. Matching armchairs and footstools are also available.</p> <p><strong>Construction</strong>: robust frame construction made from durable hardwoods, always birch or beech. Each sofa has a serpentine base with heavy gauge metal springs that go from the back to the front of the sofa.</p> <p><strong>Fabrics</strong>: a huge selection of fabrics to choose from including machine washable materials.</p> <p><strong>Covers and Fillings</strong>: fixed or tailored removable covers and a choice of fillings to suit you are available including, ‘Cold Cure’ Foam, Fibrefill, and Duck feather and Down. We offer a replacement cover service or you can order an extra set to change the look of the sofa within your colour scheme, for example for winter or summer looks. Options ~ armchairs, footstools, scatter cushions, protective arm caps and a choice of legs and castors are all available.</p>

  </div>
  <!-- ENDS product desc -->

  <!-- product-infos -->
  <aside class="product-info">
    <p>
    <ul>
      <strong style="color: #444">Designer</strong><br/>
      <li><a href="designer.html">Arik Levy</a></li>
    </ul>
    </p>

    <p>
    <ul>
      <strong>Services</strong>
      <li><a href="service.html">2 Days Warranty</a></li>
      <li><a href="service.html">Assistance</a></li>
      <li><a href="service.html">Personalization</a></li>
    </ul>
    </p>

    <p>
    <ul>
      <strong>In collaboration with</strong>
      <li><a href="partner.html">Molteni</a></li>
      <li><a href="partner.html">Swedese</a></li>
      <li><a href="partner.html">Living</a></li>
    </ul>
    </p>

    <p>
      <strong>Find this product at</strong> <br /><a href="product-retailer.html">our stores</a>
    <p>
  </aside>
  <!-- END infos -->

  <div class="clearfix"></div>


</div>
<!--  ENDS product content-->