<!-- page content -->
<div id="page-content" class="clearfix">



  <!-- floated content -->
  <div class="floated-content">
    <h2 class="page-heading"><span><%= @info.title %></span></h2>

    <%= @info.description.html_safe %>
  </div>
  <!-- ends floated content -->


  <!-- sidebar -->
  <aside id="sidebar">
    <div class="block">

      <ul>
        <h4>More infos</h4>

        <% @infos.each do |info| %>
            <li><%= link_to info.title, info_path(info) %></li>
        <% end %>

      </ul>

    </div>
  </aside>
  <!-- ENDS sidebar -->

</div>
<!--  page content-->